    <nav class="navbar fixed-top navbar-expand-md navbar-light" style="background-color: #F9E79F;">
        <!-- <a class="navbar-brand" href="#"> -->
            <img src="/images/logo.svg" width="80" height="80" class="d-inline-block align-top" alt="" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a>&nbsp&nbsp&nbsp</a>
            <a class="nav-link active" href="#">หน้าแรก<span class="sr-only">(current)</span></a>
            <a class="nav-link" href="#">โปรโมชั่น</a>
            <a class="nav-link" href="#">ราคาสกรีน</a>
            <a class="nav-link" href="#">ติดต่อเรา</a>
          </div>
        </div>

        <div class="navbar-nav">
            <a class="nav-link" href="#">เข้าสู่ระบบ</a>
            <a>&nbsp&nbsp&nbsp</a>
        </div>

        <form class="form-inline" style="background-color: #252525;">
            <button class="btn btn-outline-success" type="button">
                <img src="/images/line.svg" width="20" height="20">
                &nbspLine me</button>
                
            <!-- <button class="btn btn-sm btn-outline-secondary" type="button">Smaller button</button> -->
          </form>
      </nav>