
<%- include ('./partials/head') %>
<%- include ('./partials/nav') %>

    <body>
      <div id="relative" class="text-center">
        <img src="/images/home.jpg" style="position: relative;" class="d-block w-100" alt="...">

       <div class="container">
        <div id="bottom-left">
          <button type="button" class="btn btn-warning" style="width: 200px; height:50px;"><b>SHOP NOW</button>
        
      </div>
        
        <div id="bottom-right">
          <button type="button" class="btn btn-warning" style="width: 200px; height:50px;"><b>START DESIGN</button>
        </div>
        </div>
    </div> 

    </body>